{{> header}}

<h1> Login </h1>

<p>Hallo werte Klasse</p>

<form action="/login" enctype="multipart/form-data" method="post">
    Username: <input type="text" name="email"><br>
    Password: <input type="password" name="passwort"><br>
    <input type="submit">
</form>

<a href="/register">Neuen Benutzer registrieren</a>

<p>Dies ist ein Schulbeispielprojekt</p>

{{> footer}}